.container-input h1{
    font-family: 'Inter', sans-serif;
font-size: 48px;
font-weight: 700;
line-height: 48px;
letter-spacing: 0.5px;
color:  #25AAE1;
;
}
.container-input p{
    font-family: Inter;
font-size: 17px;
font-weight: 400;
line-height: 32px;
letter-spacing: 0em;
text-align: left;

}
.input-contactus .ant-form-item {
    height: 3rem;
}
.input-contactus label{
    font-family: Inter;
font-size: 14px;
font-weight: 500;
line-height: 20px;
letter-spacing: 0em;
text-align: left;
font-family: Inter;
font-size: 14px;
font-weight: 500;
line-height: 20px;
letter-spacing: 0em;
text-align: left;

}
.input-contactus .ant-input-number-input{
    height: 3rem;
}
#nest-messages_user_description{
    min-height: 150px;
}

.container-contactus{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 2rem 0rem 1rem 0rem;
    margin-top: 10rem;
}
.container-input{
    padding: 2rem;
}
#btn-send-msg{
    width:184px;
    height: 44px;
    padding: 8px 20px 10px 20px;
    border-radius: 10px;
    gap: 10px;
    background-color: #18ACEA;
    font-family: inter;
    font-size: 17px;
    
}
.img-backgroud-contact-content{
    height: 450px;
}
.your-agree input{
    margin-right: 5px;
}

@media (max-width: 576px) {
    .container-input h1{
        font-size: 1.5rem;
        margin-top: 5px !important;
        margin-bottom: 5px !important;
        line-height: 20px;
    }
    .description  label{
        font-size: 1rem;
    }
    .container-input{
        padding-top: 0;
    }
    .description{
        width: 100% !important;
        padding-left: 2rem;
    }
    .container-input p{
        font-size: 8px;
        line-height: 10px;
        margin-bottom: 0 !important;
    }
#input-centent-contact{
    height: 20px;
}
    .input-contactus .col-6{
        width: 50%;
    }
    .input-contactus label{
        font-size: 0.5rem;
        line-height: 8px;
    }
    .img-backgroud-contact-content{
        height: auto !important;
    }
    .css-dev-only-do-not-override-12upa3x{
        margin-bottom: 5px;
    }
    #nest-messages_user_description {
        min-height: 100px;
    }
    .your-agree{
        margin-top: 5px !important;
    }
    .img-backgroud-contact-content{
        height: 100%;
    }
    .ant-form-item-explain-error{
        display: none;
    }
}
@media (min-width: 576px) and (max-width: 768px) {
    .container-input h1{
        font-size: 1.5rem;
        margin-top: 5px !important;
        margin-bottom: 5px !important;
        line-height: 20px;
    }
    .ant-form-item-explain-error{
        display: none;
    }
    .container-input{
        padding-top: 0;
    }
    .description{
        width: 100% !important;
    }
    .container-input p{
        font-size: 10px;
        line-height: 10px;
    }
    .input-contactus .col-6{
        width: 50%;
    }
    .input-contactus label{
        font-size: 1rem;
        line-height: 8px;
    }
    .img-backgroud-contact-content{
        height: auto !important;
    }
    .css-dev-only-do-not-override-12upa3x{
        margin-bottom: 5px;
    }
    #nest-messages_user_description {
        min-height: 100px;
    }
    .your-agree{
        margin-top: 5px !important;
    }
}
@media (min-width: 768px) and (max-width: 1000px) {
    .container-input h1{
        font-size: 2rem;
        margin-top: 5px !important;
        margin-bottom: 5px !important;
        line-height: 30px;
    }
    .ant-form-item-explain-error{
        display: none;
    }
    .container-input{
        padding-top: 0;
    }
    .description{
        width: 100% !important;
    }
    .container-input p{
        font-size: 15px;
        line-height: 20px;
    }
    .input-contactus .col-6{
        width: 50%;
    }
    .input-contactus label{
        font-size: 1rem;
        line-height: 10px;
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
    .img-backgroud-contact-content{
        height: auto !important;
    }
    .css-dev-only-do-not-override-12upa3x{
        margin-bottom: 5px;
    }
    #nest-messages_user_description {
        min-height: 100px;
    }
    .your-agree{
        margin-top: 5px !important;
    }
}
@media (min-width: 1000px) {
    
}
