.contact-info h1 {
  font-size: 22px;
  font-weight: 700;
  line-height: 33px;
  letter-spacing: 0.1em;
  text-align: left;
  color: #667085;
}
.contact-info p {
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  line-height: 34px;
  letter-spacing: 0em;
  text-align: left;
  color: #667085;
  margin-top: 1rem;
}
.contact-info{
  margin-top: 3rem;
}
.title-input {
  font-size: 20px;
  font-weight: 700;
  line-height: 34px;
  letter-spacing: 0em;
  text-align: left;
  color: #667085;
}
.input {
  width: Fill (368px);
  height: Hug (46px);
  padding: 8px 16px 8px 16px;
  border-radius: 8px;
  gap: 10px;
  border: none;
  outline: none;
}
.input-message {
  height: Fixed (145px);
  padding: 16px;
  border-radius: 8px;
  gap: 10px;
  border: none;
  outline: none;
}
.footer-container {
  background-color: #e8f4ff;
}
.btn-send {
  width: Hug (147px);
  height: Fixed (46px);
  padding: 10px 48px 10px 48px;
  border-radius: 8px;
  border: 2px;
  gap: 10px;
  color: #1668b2;
  border: 2px solid #1668b2;
  background-color: none;
}
